<div class="card col">
    <div class="card-body">
        <div class="row">
            <h4 class="card-title col">{{ coin.symbol }}</h4>
            <div class="custom-control custom-switch">
                <input type="checkbox" class="custom-control-input"
                 id="{{coin.id}}" >
                <label class="custom-control-label"
                 for="{{coin.id}}" ></label>
                 
            </div>
        </div>
        <div> {{ coin.name }}</div>
        <br>        
        <p>
            <button type="button" class="btn btn-primary"
            (click)="collapse.toggle(); moreInfo(coin.id);"
              [attr.aria-expanded]="!isCollapsed"
              aria-controls="collapseExample">
            More info </button>
            </p>
            <div #collapse="ngbCollapse" [(ngbCollapse)]="isCollapsed">
            <div class="card" >
                <div class="card-body" *ngIf="!infoList.img">
                    <div class="spinner-border text-info" role="status"></div>
                    <div> <strong>Loading...</strong> </div>
               </div>    
               <div class="card-body" *ngIf="infoList.img">
                    <p><img src="{{infoList.img}}" alt="coin img"></p>
        <div  style="font-size: 20px">
            USD
            <p>{{infoList.usd | currency: "USD"}}</p> 
             EUR
            <p>{{infoList.eur | currency: "EUR"}}</p>
             ILS
            <p>{{infoList.ils | currency: "ILS"}} </p>
          </div>
       </div>
    </div>
  </div>
</div>

 