<div class="card w-75">
    <div class="card-body">
        <div class="row">
            <h4 class="card-title col">{{ coin.symbol }}</h4>
            <div class="custom-control custom-switch">
                <input type="checkbox" class="custom-control-input" id="{{coin.id}}">
                <label class="custom-control-label" for="{{coin.id}}"></label>
            </div>
        </div>
        <div> {{ coin.name }}</div>
        <br>        
        <p>
            <button type="button" class="btn btn-primary"
           
             (click)= "moreInfo(coin.id)">MoreInfo </button>
            </p>
            
            <div class="card" >
               <div class="card-body" *ngIf="infoList.img">
                    <img src="{{infoList.img}}" alt="coin img">
        <div>
             {{infoList.usd | currency: "USD"}}
             <br>
             {{infoList.eur | currency: "EUR"}}
             <br>
             {{infoList.ils | currency: "ILS"}}
            </div>
             </div>
        </div>
    </div>
 </div>

 
 
