.parallax {
  
  background-image: url("../assets/bitcoin-3396302_960_720.webp");

  height: 100%;

  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
.header {
  font-size: 70px;
  color: gold;
}
.nav-link {
  
  
  color: gold;
}


